.form_container {
  max-width: 50%;
  margin: auto;
  min-height: 32.5rem;
  margin-top: 15rem;
}

.submit_btn {
  display: flex;
  justify-content: center;
}

.switch_btn {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
