.heading {
  margin: 1.5rem 0rem;

  h1 {
    color: rgb(117, 114, 114);
  }
}
.main_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  &-right {
    width: 30%;
    margin: auto;
  }
  &-left {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
